Repository 2023M8T2-Inteli/grupo4, pull requests merged in 2023-12, with the labels that each got.

#115 fix: terraform ec2 update
  infrastructure/ec2.tf
  infrastructure/elastic_ip.tf
  infrastructure/security_group.tf
  infrastructure/variables.tf
Labels: chatbot

#152 Feat: ci/cd chatbot
  .github/workflows/chatbot-whatsapp.yml
  src/chatbot/src/index.ts
  src/chatbot/src/public/assets/js/main.js
  src/chatbot/src/utils.ts
Labels: chatbot, Infraestrutura, AWS

#160 Excel export
  src/admin-interface/app/components/DownloadButton.jsx
  src/admin-interface/app/components/History.jsx
  src/admin-interface/app/components/Points.jsx
  src/admin-interface/app/components/Tools.jsx
  src/admin-interface/app/components/Users.jsx
  src/admin-interface/package-lock.json
  src/admin-interface/package.json
  src/express-back/package-lock.json
  src/express-back/package.json
Labels: Interface Admin

#161 Qrcode
  src/admin-interface/.next/app-build-manifest.json
  src/admin-interface/.next/build-manifest.json
  src/admin-interface/.next/cache/webpack/client-development/0.pack.gz
  src/admin-interface/.next/cache/webpack/client-development/index.pack.gz
  src/admin-interface/.next/package.json
  src/admin-interface/.next/react-loadable-manifest.json
  src/admin-interface/.next/server/app-paths-manifest.json
  src/admin-interface/.next/server/middleware-build-manifest.js
  src/admin-interface/.next/server/middleware-manifest.json
  src/admin-interface/.next/server/middleware-react-loadable-manifest.js
  src/admin-interface/.next/server/next-font-manifest.js
  src/admin-interface/.next/server/next-font-manifest.json
  src/admin-interface/.next/server/pages-manifest.json
  src/admin-interface/.next/server/server-reference-manifest.js
  src/admin-interface/.next/server/server-reference-manifest.json
  src/admin-interface/.next/static/chunks/polyfills.js
  src/admin-interface/.next/static/development/_buildManifest.js
  src/admin-interface/.next/static/development/_ssgManifest.js
  src/admin-interface/.next/trace
  src/admin-interface/.next/types/package.json
  src/admin-interface/app/qrcode/page.js
  src/interface/admin/app/components/QRCode.jsx
  src/interface/admin/app/components/sidebar.jsx
  src/interface/admin/app/qrcode/page.js
  src/interface/admin/package-lock.json
  src/interface/admin/package.json
  src/interface/backend/index.js
  src/interface/backend/routes/qrcode.js
Labels: Interface Admin
